@model sistema_fichas.Business.Pedido


<div class="col-xs-12 col-md-12">
    <div class="form-group pull-right">
        @if (PedidoHelper.esEditable(Model.EstadoPedido.Estado))
        {
           
            <a href="#" id="editar_pedido" data-toggle="modal" data-target="#modal_contenido" data-id="@Model.ID">
                @Html.BSbutton("info btn-sm", "Editar info", "check")
            </a>

            <a href="#" class="cambiar_estado" data-id="@Model.ID" data-text="enviar a revisión" data-action="2">
                @Html.BSbutton("primary btn-sm", "Enviar a revisión", "paper-plane")
            </a>

        }
        else if (PedidoHelper.esEvaluable(Model.EstadoPedido.Estado))
        {
            <a href="#" class="cambiar_estado" data-id="@Model.ID" data-text="rechazar" data-action="4">
                @Html.BSbutton("warning btn-sm", "Rechazar pedido", "ban").If(true)
            </a>
            <a href="#" class="cambiar_estado" data-id="@Model.ID" data-text="aceptar" data-action="3">
                @Html.BSbutton("success btn-sm ", "Aceptar pedido", "check")
            </a>

        }


        @if (PedidoHelper.esAnulado(Model.EstadoPedido.Estado))
        {

            <button class="btn btn-success btn-sm cambiar_estado" data-id="@Model.ID" data-text="activar" data-action="1">
                <span class="fa fa-check"></span> Activar Pedido
            </button>

        }
        
        @if (PedidoHelper.EstadoAnulable(Model.EstadoPedido.Estado))
        {
            
                <button class="btn btn-danger btn-sm cambiar_estado" data-id="@Model.ID" data-text="anular" data-action="0">
                    <span class="fa fa-check"></span> Anular Pedido
                </button>
        }


      </div>
</div>